In [1]:
l1=list()
l2=[]

In [2]:
print(l1)

[]

In [3]:
print(l2)

[]

In [6]:
# all odd numbers between 50 to 100
l2 = list(range(51,100,2))
l1 = []
for idx in range(51,100,2):
    l1.append(idx)
#     print(idx)
print(l1)
print(l2)

[51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [10]:
l1 = []
for idx in range(51,100,2):
    if (idx%3 == 0) or (idx%7==0):
        l1.append(idx)
#     print(idx)
print(l1)

[51, 57, 63, 69, 75, 77, 81, 87, 91, 93, 99]

In [11]:
for idx,element in enumerate(l1):
    print(idx,element)

0 51
1 57
2 63
3 69
4 75
5 77
6 81
7 87
8 91
9 93
10 99

In [13]:
# create a list of rollnos of your 5 friends
rollnos = [54,67,98,89,77]
#print all roll nos which are on even index 
# print all alternate lements in a list starting from first element
for idx, element in enumerate(rollnos):
    if idx % 2 ==0:
        print(element)

67
89

In [14]:
for idx in range(5):#[0,1,2,3,4]
    print(idx)
    idx +=5

0
1
2
3
4

In [ ]:
L1=[5,2,8]
L2 = [ element  for  element in L1  if element > 3]

In [ ]:
l2 = []
for element in l1:
    if element > 3:
        l2.append(element)

In [15]:
l1=[45,23,11,22,100]
squares =[]

In [16]:
for element in l1:
    squares.append(element ** 2)

In [18]:
print(l1)
print(squares)

[45, 23, 11, 22, 100]
[2025, 529, 121, 484, 10000]

In [19]:
sq = [ element**2 for element in l1 ]
print(sq)

[2025, 529, 121, 484, 10000]

In [26]:
l1=[40,1,40,2,40]
print(l1,len(l1))
l1.append(3)
print(l1,len(l1))
l1.remove(40)
print(l1,len(l1))
del l1[1]
print(l1,len(l1))

[40, 1, 40, 2, 40] 5
[40, 1, 40, 2, 40, 3] 6
[1, 40, 2, 40, 3] 5
[1, 2, 40, 3] 4

In [32]:
l1=[10,20,30,40,50]
for idx,element in enumerate(l1):
    print(idx, element)
    l1.remove(element)
#     del l1[idx]
    print(l1)

0 10
[20, 30, 40, 50]
1 30
[20, 40, 50]
2 50
[20, 40]

# List comprehension

In [23]:
l1 = [90,98,67,65,43]
l2 = [e**2 for e in l1]

In [24]:
print(l2)

[8100, 9604, 4489, 4225, 1849]

In [28]:
# select all elements from l2 which are less than 5000
# and put in l3
l3=[]
for e in l2:
    if e < 5000:
        l3.append(e)
print(l3)
l3 = [ e for e in l2 if e < 5000 ]
print(l3)
# put square root of elements >= 5000 
# and put the same element if element <5000
import math
l3 = [ e if e < 5000 else math.sqrt(e) for e in l2 ]
print(l3)

[4489, 4225, 1849]
[4489, 4225, 1849]
[90.0, 98.0, 4489, 4225, 1849]

In [29]:
# take a list of marks 
# select all marks which are >=16
marks = [40,23,31,32,35,22,18,9]
pass_list = [ m for m in marks if m>=16 ]
print(pass_list)

[40, 23, 31, 32, 35, 22, 18]

In [30]:
# take a list of marks 
# create a res list, put 'p' is marks >= 16 else put 'f' 
marks = [40,23,31,32,35,22,18,9]
# ternary operator if else 
# true_value if condition else false_value  
res = [ 'p' if m>=16 else 'f' for m in marks ]
print(res)

['p', 'p', 'p', 'p', 'p', 'p', 'p', 'f']

# Slicing in Lists

In [33]:
l1 = [10,20,30,40,50,60]

In [34]:
l1[2:4]

[30, 40]

In [35]:
l1[-5:-1]

[20, 30, 40, 50]

In [36]:
l1[0:0:1]

[]

In [37]:
l1[2:2:1]

[]

In [38]:
l1[-1:-1:-1]

[]

In [39]:
l1[4:1:1]

[]

In [40]:
l1[::200]

[10]

In [41]:
l1[:]

[10, 20, 30, 40, 50, 60]

In [42]:
l1 is l1[:]

False

In [44]:
l1[::-1]

[60, 50, 40, 30, 20, 10]

In [45]:
l1

[10, 20, 30, 40, 50, 60]

In [48]:
l1[2::-3]

[30, 60]

# List within list

In [54]:
l=[[34,12],[123,567,89],[0,[90]],100,900]

In [55]:
l[0][0]

34

In [56]:
l[1][1]

567

In [58]:
l[2][1][0]

90

# zip function

In [59]:
l1=[10,20,30]
l2=[67,78,89]
for e1,e2 in zip(l1,l2):
    print(e1,e2)

10 67
20 78
30 89

# Remove duplicate elements

In [6]:
l1=[10,10,20,30,50,10]
l2=[]
for e in l1:
    if e not in l2:
        l2.append(e)

In [7]:
print(l2)

[10, 20, 30, 50]

In [25]:
l1=[10,20,30,40,50,10,10]
l2 = [10,20,30]
l1 + l2

[10, 20, 30, 40, 50, 10, 10, 10, 20, 30]

In [12]:
l1=[10,10,20,30,50,10]
for e in l1.copy():
    cnt = l1.count(e)
    if cnt > 1:
        l1.remove(e)

In [13]:
print(l1)

[20, 30, 50, 10]

# Packing and Un packing

In [7]:
x,y=[10,45] # unpacking
print(x,y)

10 45

In [4]:
rollnos = [1,2,3,4,5,6,7] #packing
rollnos_1 = [23,45]
f1,f2,*f = rollnos_1

In [5]:
print(f1,f2)

23 45

In [3]:
f

[3, 4, 5, 6, 7]

In [6]:
ranking = [10,45,67,89]
first,*rest,last = ranking
print(first,last)

10 89

# Sorted

In [9]:
print(sorted.__doc__)

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.

In [11]:
itemids=[101,201,301,405,11,5,45,23]
print("After sorting:",sorted(itemids)) # returns copy of sorted list
print("Original after sorting", itemids)

After sorting: [5, 11, 23, 45, 101, 201, 301, 405]
Original after sorting [101, 201, 301, 405, 11, 5, 45, 23]

In [12]:
itemids=[101,201,301,405,11,5,45,23]
itemids = sorted(itemids)
print("After sorting:",itemids) # returns copy of sorted list
print("Original after sorting", itemids)

After sorting: [5, 11, 23, 45, 101, 201, 301, 405]
Original after sorting [5, 11, 23, 45, 101, 201, 301, 405]

In [13]:
itemids=[101,201,301,405,11,5,45,23]
print(sorted(itemids,reverse=True))

[405, 301, 201, 101, 45, 23, 11, 5]

In [16]:
itemids=[101,201.23,301,405.11,11.00000001,5,45,23]
print(sorted(itemids,reverse=True))

[405.11, 301, 201.23, 101, 45, 23, 11.00000001, 5]

In [17]:
names=['lcc','dbms','python','bigdata','ml','aa']
sorted(names)

['aa', 'bigdata', 'dbms', 'lcc', 'ml', 'python']

In [20]:
l_l=[[40,20],[30,40],[30,40,100],[30,60]] # list comparison
sorted(l_l)

[[30, 40], [30, 40, 100], [30, 60], [40, 20]]

In [15]:
itemids=[101,'201',301,'405',11,'5',45,23]
print(sorted(itemids,reverse=True))

TypeError: '<' not supported between instances of 'str' and 'int'

In [14]:
# list within list
itemids=[[101,201],301,405,11,5,45,23]
print(sorted(itemids,reverse=True))

TypeError: '<' not supported between instances of 'list' and 'int'

# How lists are compared
lexicographical ordering

In [21]:
l_l=[[40,20],[30,40],[30,40,100],[30,60]] # list comparison
sorted(l_l)

[[30, 40], [30, 40, 100], [30, 60], [40, 20]]

# Practice

In [16]:
# WAP to create 2 lists from given list
# in first list put all elements divisible by 5
# in second list put all elements divisible by 11
l1= [78,34,33,21,55,66,25,15,105]
l5=[]
l11=[]
for e in l1:
    if e % 5 == 0:
        l5.append(e)
    if e%11 == 0:
        l11.append(e)
print(l1)
print(l5)
print(l11)

[78, 34, 33, 21, 55, 66, 25, 15, 105]
[55, 25, 15, 105]
[33, 55, 66]

Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

    1) 1^3 5^3 3^3=153 ( here number of digits(n) is 3)
    2) 1^1 = 1 ( here number of digits is 1)
    3) 1634 = 1^4 + 6^4 + 3^4 + 4^4 ( here number of digits is 4)

In [21]:
# C type code
num= input("Enter a number")
num_digits=len(num)
num_int = int(num)
total = 0
while(num_int>0):
    digit = num_int %10
    total += digit ** num_digits
    num_int=num_int // 10
print(total)

Enter a number1634
1634

In [23]:
# python
num= input("Enter a number")
num_digits=len(num)
total = 0
for digit in num:
    total = total + int(digit) ** num_digits
print(total)

Enter a number153
153

In [26]:
l1 = [10,20,30]
l1[:2] = 0

TypeError: can only assign an iterable