# Write a menu driven program.
Ask the user which input format needs to be converted to integer


 1 Binary 2 Octal 3 Hex


Then convert given string to integer using int() function

In [2]:
option= input("which input format needs to be converted to integer 1. Binary 2. Octal 3. Hex")

which input format needs to be converted to integer 1. Binary 2. Octal 3. Hex1

In [5]:
match option:
  case '1':
    print("Binary to int conversion")
    bin_str=input("Enter binary string with prefix 0b")
    int_val = int(bin_str,base=2)
    print("Integer value is", int_val)
  case '2':
    print("Octal to int conversion")
    bin_str=input("Enter Octal string with prefix 0o")
    int_val = int(bin_str,base=2)
    print("Integer value is", int_val)
  case '3':
    print("Hex to int conversion")
    bin_str=input("Enter Hex string with prefix 0x")
    int_val = int(bin_str,base=2)
    print("Integer value is", int_val)

Binary to int conversion
Enter binary string with prefix 0b1010
Integer value is 10

In [ ]:
# Another approach
in_str = input("Enter the no to be converted")
option= input("which input format needs to be converted to integer 1. Binary 2. Octal 3. Hex")

match option:
  case '1':
    print("Binary input Converted int is ", int(in_str,2))
  case '2':
    print("Octal input Converted int is ", int(in_str,8))
  case '3':
    print("Hex input Converted int is ", int(in_str,16))

# Write a calculator which takes two operands(int/float) and one operator as input and performs given operation

Ex. 2 + 3  o/p 5

34.67 - 67  o/p -32.33

In [ ]:
exp = input("Enter the expression with two operands (int/float) and one operator, seperated by space")

Enter the expression with two operands (int/float) and one operator123 - 89

In [ ]:
par1, op, par2 = exp.split()
par1 = float(par1)
par2 = float(par2)
match op:
  case "+":
    print(par1 + par2)
  case "-":
    print(par1 - par2)
  case "*":
    print(par1 * par2)

34.0

# WAP to take list as input

if there is an integer then add it to total, if element is string then concat it to name and if float then append it in another list named 'floats_list'

In [ ]:
l=[1,2,3,6.7,'a',6.9,'bc']

In [ ]:
total =0
name=""
floats_list=[]
for elem in l:
  match elem:
    case int():
      total += elem
    case str():
      name += elem
    case float():
      floats_list.append(elem)
    case other:
      print(other, "can't be processed!! ")

In [ ]:
print(total)

6

In [ ]:
print(name)

abc

In [ ]:
print(floats_list)

[6.7, 6.9]

# Further reference

### Match supports very vast range of patterns and inputs. CHeck more details at python documentation link https://peps.python.org/pep-0636/