# set creation

In [2]:
s1= set()
print(s1)

<class 'set'>

In [3]:
s2={1,2,3,5,6,2}
print(s2)

{1, 2, 3, 5, 6}

In [15]:
s3=set('CDAC')
print(s3)

{'D', 'A', 'C'}

In [6]:
s4=set([1,2,3,])
print(s4)
s4=set([1,2,3,[1,2],])

{1, 2, 3}

TypeError: unhashable type: 'list'

# set comprehension

In [7]:
s1= { idx for idx in range(1,100) if idx%3 ==0}
print(s1)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

# Hash value vs id

id --> gives memory location
hash --> gives hash value using contents

In [10]:
l1=(10,20,30)
l2=(10,20,30)
print(id(l1),hash(l1))
print(id(l2),hash(l2))

2505646878592 3952409569436607343
2505660698880 3952409569436607343

# Common functions of set

In [23]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
print(s1,s2)

{1, 2, 3, 4, 5} {1, 34, 4, 5, 10, 11}

In [24]:
s1 | s2 # union operation

{1, 2, 3, 4, 5, 10, 11, 34}

In [25]:
s1 |= s2 # update operation

In [27]:
print(s1, s2)

{1, 2, 3, 4, 5, 34, 10, 11} {1, 34, 4, 5, 10, 11}

In [15]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s3={1,1.2,'a','b'}

s1 |= s2 | s3 # update operation
print(s1)

{1, 2, 3, 4, 5, 34, 1.2, 'b', 10, 11, 'a'}

In [17]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s3={1,1.2,'a','b'}

s1.update(s2,s3)
print(s1)

{1, 2, 3, 4, 5, 34, 'b', 1.2, 10, 11, 'a'}

In [18]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s3={1,1.2,'a','b'}

s1 & s2

{1, 4, 5}

In [19]:
s1 &= s2 # intersection update
print(s1)

{1, 4, 5}

In [20]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s3={1,1.2,'a','b'}

s1.intersection_update(s2)
print(s1)

{1, 4, 5}

In [21]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s3={1,1.2,'a','b'}
s1.intersection_update(s2,s3)
print(s1)

{1}

In [23]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1 - s2, s2 - s1

({2, 3}, {10, 11, 34})

In [24]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1 -= s2
print(s1)

{2, 3}

In [25]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1.difference_update(s2)
print(s1)

{2, 3}

In [26]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1 ^ s2

{2, 3, 10, 11, 34}

In [27]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1 ^=s2
print(s1)

{2, 3, 34, 10, 11}

In [28]:
s1= {1,2,3,4,5}
s2={5,4,10,11,34,1}
s1.symmetric_difference_update(s2)
print(s1)

{2, 3, 34, 10, 11}

# Set assignment

1. Add a list of elements to a given set
Given:


sampleSet = {"Yellow", "Orange", "Black"}


sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [28]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
# add single element --> add()
for e in sampleList:
    sampleSet.add(e)

In [32]:
sampleSet

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow', 'orange'}

In [33]:
# Find unique words from sentence
sentence = input("Enter a sentence. Words are space seperated")
words_list = sentence.split()
unique_words = set(words_list)
print(unique_words)

Enter a sentence. Words are space seperatedi am in pune i am at iacsd iacsd is at akurdi
{'pune', 'is', 'am', 'i', 'at', 'iacsd', 'akurdi', 'in'}

In [34]:
set(input("Enter a sentence. Words are space seperated").split())

Enter a sentence. Words are space seperatedi am in pune i am at iacsd iacsd is at akurdi

{'akurdi', 'am', 'at', 'i', 'iacsd', 'in', 'is', 'pune'}