In [16]:
# How to create tuple
t=(90,23,34) # direct assignment
t1=tuple()
t2=(1000,) # single value tuple
print(t,t1,t2)

(90, 23, 34) () (1000,)

In [3]:
# NOT A TUPLE
t=(1000*7)
print(t,type(t))

7000 <class 'int'>

In [8]:
#hashable tuple
t=(1,2,13)
print(t[0])
print(t[:3])

1
(1, 2, 13)

In [3]:
t[0] = 90 # Not allowed

TypeError: 'tuple' object does not support item assignment

In [5]:
#Not hashable tuple
tm = (0,[2,3],4,5)
print(tm[0],tm[1])
tm[1][0]=100
tm[1].append(900)
tm[1].extend([90,67,43,23,12,100,123,3455,555,666])
print(tm[1])

0 [2, 3]
[100, 3, 900, 90, 67, 43, 23, 12, 100, 123, 3455, 555, 666]

In [6]:
tm[2]=500

TypeError: 'tuple' object does not support item assignment

In [7]:
del tm[1]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
print(hash.__doc__)

Return the hash value for the given object.

Two objects that compare equal must also have the same hash value, but the
reverse is not necessarily true.

In [9]:
t=(1,2,3)
hash(t) # hashable tuple

529344067295497451

In [11]:
tm = (0,[2,3],4,5)
hash(tm) # not hashable tuple

TypeError: unhashable type: 'list'

In [12]:
tr=(((([12]))),89)
hash(tr)

TypeError: unhashable type: 'list'

# Tuple Can be used to assign multiple values on same line

In [14]:
x,y = 1,2
print(x,y)

1 2

In [15]:
# swap two values
x,y = y,x
print(x,y)

2 1

# Packing and Unpacking

In [18]:
t=10,20,30
print(t, type(t))

(10, 20, 30) <class 'tuple'>

In [20]:
a,*b, c  = (40,50,60,70) 
print(a,b,type(b),c)

40 [50, 60] <class 'list'> 70

# Zip function detailed working

In [24]:
l1=[90,45,67]
l2=[100,200,300]
l2.reverse()
print(l2)
for e1, e2 in zip(l1,l2):
    print(e1,e2)

[300, 200, 100]
90 300
45 200
67 100

In [23]:
list(zip(l1,l2))

[(90, 300), (45, 200), (67, 100)]

In [30]:
tuple(zip(l1,l2))

((90, 100), (45, 200), (67, 300))

In [25]:
l1=[90,45,67,56,89]
l2=[100,200,300]
for e1, e2 in zip(l1,l2):
    print(e1,e2)

90 100
45 200
67 300

In [26]:
l1=[90,45,67]
l2=[100,200,300,400,500]
for e1, e2 in zip(l1,l2):
    print(e1,e2)

90 100
45 200
67 300

In [27]:
t1=(0,4,5)
t2=(90,45,78)
for e1, e2 in zip(t1,t2):
    print(e1,e2)

0 90
4 45
5 78

In [28]:
s1="IACSD"
s2="CDAC"
for c1,c2 in zip(s1,s2):
    print(c1,c2)

I C
A D
C A
S C

In [29]:
l1=[90,45,67]
t1=(0,4,5)
s1="IACSD"
for e1,e2,e3 in zip(l1,t1,s1):
    print(e1,e2,e3)

90 0 I
45 4 A
67 5 C

# reverse the tuple

In [33]:
t1=(10, 20, 30, 40, 50,60)
print(t1[::-1], tuple(reversed(t1)))

(60, 50, 40, 30, 20, 10) (60, 50, 40, 30, 20, 10)

# swap two numbers
7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [38]:
# method 1 direct method
a=10
b=23
a,b = b,a
print(a,b)

23 10

In [39]:
# method 2 temporary variable
a=10
b=23
temp = a
a= b
b=temp
print(a,b)

23 10

In [40]:
# using arithmatic operation
a=10
b=23
a=a+b
b=a-b
a=a-b
print(a,b)

23 10